* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  /* height: 100%; */
  width: 100%;
  font-size: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 62.5%;
} /* 1rem = 10px */

input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ------end reset ------*/

@font-face {
  font-family: "anton";
  src: url("./fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "gotham-light";
  src: url("./fonts/GOTHAM-LIGHT.TTF") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "gotham-book";
  src: url("./fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "gotham-bold";
  src: url("./fonts/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
}
.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 59.5rem;
  min-width: 32rem;
}
.header {
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  border-bottom: rgba(159, 159, 159, 0.845) solid 1px;
}
.line {
  width: 100%;
  height: 0.5rem;
  background-color: #292929;
  grid-column: span 2;
}

.profile-image-wrapper {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5px solid #292929;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  background-color: #d3bff9;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  padding: 0.7rem;
}
.name,
.job {
  font-family: anton;
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 100%;
}
.name {
  display: grid;
  align-content: center;
}
.job {
  grid-column: span 2;
  text-align: center;
}

.name span:first-child {
  display: inline-block;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  background-clip: text;
  color: transparent;
}
.job span:last-child {
  display: inline-block;
  background: linear-gradient(to right, #fa709a, #fee140);
  background-clip: text;
  color: transparent;
}
.aside-left {
  padding: 2rem 2.8rem 0 2.8rem;
  display: grid;
  justify-content: center;
  gap: 3rem;
}

.primery-title {
  text-transform: uppercase;
  font-family: anton;
  font-weight: 400;
  font-size: 2rem;
  border-bottom: rgba(159, 159, 159, 0.594) solid 0.5px;
  padding-bottom: 0.9rem;
}
.secondery-text {
  font-family: gotham-light;
  font-weight: 300;
  font-size: 1rem;
}
.therd-title {
  font-family: gotham-bold;
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.6rem;
}
.info ul {
  display: grid;
}
.info li {
  border-bottom: rgba(159, 159, 159, 0.594) solid 0.2px;
  padding-bottom: 0.5rem;
  padding-top: 0.8rem;
}

.info-link:link,
.info-link:visited {
  display: inline-block;
  color: #292929;
}
.info-link:hover,
.info-link:active {
  color: #5a1adb;
  font-weight: 700;
}
.skills li,
.profile li {
  border-bottom: none;
}
.skills-progres-bar {
  height: 0.8rem;
  background: linear-gradient(to right, #fa709a, #fee140);
  border-radius: 0.4rem;
}
.aside-right {
  padding: 2rem 2rem 4rem 2rem;
}
.escultures {
  display: none;
}
.logo {
  display: none;
}
@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: 38% 62%;
    position: relative;
  }
  .header {
    padding: 2rem 3.5rem;
    grid-template-columns: 1fr 1fr auto 1fr;
    gap: 1rem;
  }
  .line {
    width: 1.1rem;
    height: auto;
  }
  .job {
    display: grid;
    justify-items: start;
    grid-column: 4/5;
    grid-row: 1/2;
    align-content: center;
  }
  .line {
    grid-column: 3/4;
  }
  .aside-left {
    border-right: rgba(159, 159, 159, 0.594) solid 0.5px;
    padding: 2rem 2.8rem 4rem 2.8rem;
  }
  .escultures {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .logo {
    display: block;
  }
}
