* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  width: 100%;
  font-size: 100%;
  font-size: 16px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 62.5%;
} /* 1rem = 10px */

input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ------end reset ------*/

@font-face {
  font-family: "anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "gotham-light";
  src: url("../fonts/GOTHAM-LIGHT.TTF") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "gotham-book";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/GOTHAM-BOLD.TTF") format("truetype");
  font-weight: 700;
}

:root {
  --light: #ffffff;
  --dark: #292929;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
}
.container {
  background: var(--light);
  width: 100%;
  max-width: 59.5rem;
  min-width: 32rem;
}
.header {
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  border-bottom: rgba(159, 159, 159, 0.845) solid 1px;
  position: relative;
}
.line {
  width: 100%;
  height: 0.5rem;
  background: var(--dark);
  grid-column: span 2;
}

.profile-image-wrapper {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5px solid var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  background-color: #d3bff9;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  padding: 0.7rem;
}
.name,
.job {
  font-family: anton;
  font-weight: 400;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 100%;
}
.name {
  display: grid;
  align-content: center;
}
.job {
  grid-column: span 2;
  text-align: center;
}

.name span:first-child {
  display: inline-block;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  background-clip: text;
  color: transparent;
}
.job span:last-child {
  display: inline-block;
  background: linear-gradient(to right, #fa709a, #fee140);
  background-clip: text;
  color: transparent;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.aside-left {
  padding: 2rem 2.8rem 0 2.8rem;
  display: grid;
  justify-content: center;
  gap: 3rem;
}

.primery-title {
  text-transform: uppercase;
  font-family: anton;
  font-weight: 400;
  font-size: 2rem;
  border-bottom: rgba(159, 159, 159, 0.594) solid 0.5px;
  padding-bottom: 0.9rem;
}
.secondery-text {
  font-family: gotham-light;
  font-weight: 300;
  font-size: 1rem;
}
.therd-title {
  font-family: gotham-bold;
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.6rem;
}
.info ul {
  display: grid;
}
.info li {
  border-bottom: rgba(159, 159, 159, 0.594) solid 0.2px;
  padding-bottom: 0.5rem;
  padding-top: 0.8rem;
}

.info-link:link,
.info-link:visited {
  display: inline-block;
  color: var(--dark);
}
.info-link:hover,
.info-link:active {
  color: #5a1adb;
  font-weight: 700;
}
.skills li,
.profile li {
  border-bottom: none;
}

.profile {
  display: grid;
  gap: 0.8rem;
}
.profile ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.skills-progress-bar {
  height: 0.8rem;
  background-color: #9f9f9f1c;
  border-radius: 0.4rem;
  position: relative;
}
.porgress {
  --p: 0;
  width: calc(var(--p) * 1%);
  height: 0.8rem;
  border-radius: 0.4rem;
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  position: absolute;
  transition: width 2s ease-out;
}
.skills ul li:hover .porgress {
  background: linear-gradient(to right, #62b982, #75acc7);
}
/* ---------------- */
.aside-right {
  padding: 2rem 2rem 4rem 2rem;
  display: grid;
  gap: 4rem;
}

/*  */
.escultures {
  display: none;
}
.logo {
  display: none;
}
/* profile */
.about {
  font-family: gotham-book;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
}
.ring-out,
.ring-progress {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile ul li:hover .ring-out {
  background: linear-gradient(to right, #62b982, #75acc7);
}
.ring-in {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  background: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ring-progress {
  --p: 0;
  rotate: 90deg;
  background: conic-gradient(
    #9f9f9f00 0deg calc(var(--p) * 1%),
    #e0e0e0 calc(var(--p) * 1%) 100%
  );
  transition: width 2s ease;
}

.ring-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  font-family: anton;
  text-transform: uppercase;
}
.profile ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}
.profile li {
  position: relative;
}

/* work/education */
.marked-list-container {
  display: grid;
  gap: 1.6rem;
}
.marked-list {
  cursor: pointer;
  display: grid;
  grid-template-columns: 26% 74%;
}

.marked-list ul {
  border-left: solid 1px rgba(159, 159, 159, 0.594);
  grid-column: 2/3;
  display: grid;
  gap: 3rem;
}
.marked-list ul li {
  padding-left: 3rem;
  position: relative;
  padding-bottom: 2rem;
}
.marked-list ul li::before {
  content: "";
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
}

.marked-list ul li.active::before {
  background: var(--light);
}

.year {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 16% 48%, 0% 0%);
  background: var(--dark);
  color: var(--light);
  padding: 8px 18px 5px 15px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: gotham-bold;
  position: absolute;
  top: 0;
  left: calc(-24% + 1px);
  transform: translate(-50%, -25%);
}
.secondery-title {
  font-family: anton;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
.marked-list p {
  font-family: gotham-book;
  font-weight: 400;
  font-size: 1rem;
}
.container.dark .marked-list ul li::before {
  background: var(--light);
}
.marked-list ul li:hover {
  color: #8fd3f4;
}
.marked-list ul li:hover .year {
  background: linear-gradient(to right, #84fab0, #8fd3f4);
}
.marked-list ul li:hover::before,
.container.dark .marked-list ul li:hover::before {
  background: linear-gradient(to right, #84fab0, #8fd3f4);
}

@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: 38% 62%;
    position: relative;
  }
  .header {
    padding: 2rem 3.5rem;
    grid-template-columns: 1fr 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
  }
  .line {
    width: 1.1rem;
    height: auto;
  }
  .job {
    display: grid;
    justify-items: start;
    grid-column: 4/5;
    grid-row: 1/2;
    align-content: center;
  }
  .line {
    grid-column: 3/4;
    height: 80%;
  }
  .aside-left {
    border-right: rgba(159, 159, 159, 0.594) solid 0.5px;
    padding: 2rem 2.8rem 4rem 2.8rem;
  }
  .escultures {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .logo {
    display: block;
  }
  .profile ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* toggle */
.toggle {
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
}
.input {
  visibility: hidden;
}

.label {
  width: 4rem;
  height: 2rem;
  display: inline-block;

  background-color: #9f9f9f1c;
  border-radius: 20px;
  position: relative;
}
.circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);

  position: absolute;
  top: 2.5px;
  left: 2.5px;
  cursor: pointer;
  animation: toggleOff 0.4s linear forwards;
}

input[type="checkbox"]:checked + .label {
  background: var(--light);
}

.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background: var(--dark);
}

/* dark */
.dark {
  background: var(--dark);
  color: var(--light);
}
.light {
  color: var(--light);
}
.container.dark .profile-image-wrapper {
  border: 0.5px solid var(--light);
}

.container.dark .ring-in {
  background: var(--dark);
}
.container.dark .year {
  background: var(--light);
  color: var(--dark);
}
.container.dark .info-link {
  color: var(--light);
}
.container.dark .logo {
  filter: brightness(0) invert(1);
}
.container.dark .line {
  background: var(--light);
}
